<launch>

	<arg name="zumy_name" />
	<arg name="base_ar" />
	<arg name="zumy_ar" />
	<arg name="origin_ar" />
	<arg name="end_ar" />



	<node name="teleop" pkg="turtlesim" type="turtle_teleop_key" output="screen" respawn="false" />

	<node name="zumy_teleop" pkg="zumy_teleop" type="zumy_teleop_bridge.py" output="screen" respawn="false" />


	<node name="main_node" pkg="main" type="main_node.py" output="screen" respawn="false" args="$(arg zumy_name) $(arg base_ar) $(arg zumy_ar) $(arg origin_ar) $(arg end_ar)"/>
	  

</launch>